{
  "extends": "a1motion/typescript-react",
  "parserOptions": {
    "project": "./tsconfig.json",
    "createDefaultProgram": true
  },
  "settings": {
    "react": {
      "version": "999"
    }
  },
  "rules": {
    "require-atomic-updates": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/member-delimiter-style": 0
  }
}
